
/BAK/
*.BAK

# Files to dump topic content
*.KDump
*.KDump.json

# Password, sensitive. Paswd especially named with single s to do not match common patterns!
paswd
# Private certificates:
*.crt
*.keytab
*.jks
*.p12
*.pem

# Just speedup symlinks:
/.config.sh~

/__.DEV*
/_data

# That contains password to keystores!
/conf/DEV/confluent.properties
